*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
}
h2.heading{
	font-family: zarubka;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
	padding-top: 15px;
	position: relative;
	color: whitesmoke;
}
h2.heading:after{
	content: "";
	position: absolute;
	width: 100px;
	height: 3px;
	background-color: whitesmoke;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}
.img-box{
	column-count: 4;
	column-gap: 3px;
	width: 85%;
	max-width: 1400px;
	margin: auto;
	padding-bottom: 20px;
}
.image{
	max-width: 100%;
	display: block;
}
.img-wrapper{
	display: block;
	opacity: 0.8;
	transition: 0.5s;
	filter: blur(2px);
}
.img-wrapper:hover{
	opacity: 1;
	filter: blur(0px);
}
.img-wrapper + .img-wrapper{
	margin: 3px 0;
}
.element {
	display: block;
	padding: 50px 300px 50px 300px;
	justify-content: center;
	align-items: center;
}
h2.text_qustion{
	font-family: zarubka;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
	padding-top: 15px;
	position: relative;
	color: whitesmoke;
}
.btn{
	display: inline-flex;
	background: #50574d;
	color: whitesmoke;
	padding: 1rem 1.5rem;
	text-decoration: none;
	border-radius: 3px;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
.btn:hover{
	opacity: 1;
	background: #3a5e2f;
}
.footer {
	position: relative;
	padding: 3px 0;
	background: #50574d;
	color: whitesmoke;
	font-size: 15px;
	text-align: center;
	font-family: Roboto;
	font-weight: cursive;
}